{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/contact-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? I have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">



      </div>
    </div>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-22c1b1b0-e844-4c77-af6a-7531fa8fcbb2"></div>
  </div>

  <hr>



  <!-- Contact Form JavaScript -->
<!--  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>-->
  <!-- <script src="{% static 'js/contact_me.js' %}"></script> -->


{% endblock content %}
